body {
	padding-top: 5%;
	padding-bottom: 2%;
	background: url('../img/background-3.png') no-repeat center center fixed; \
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: 'pixelar';
    src: url("../fonts/pixelar.ttf");
}

.font-pixelar{
    font-family: 'pixelar';
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 10px;
    text-align: center;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}
.navbar-brand img{
	width: 40px;
	height: 40px;
}
.navbar-default{
	border-color:black;
	background: black;
}
.navbar-toggle {
    z-index:3;
}
.navbar-button{
	width: 20px;
	height: 20px;
}

h1{
	font: 36px Arial,sans-serif;
    font-weight: bold;
}

p{
	display: inline;
	font: Arial,sans-serif;
}


.container-70{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.container-white{
	background: rgba(255, 255, 255, .6); 
	border: solid 4px; 
	border-radius: 10px;
	padding: 0px 30px 15px 30px;
}
.container-box{
	background: rgba(255,255,255, .8);
	border: solid 4px; 
	border-radius: 10px; 
	padding: 10px 10px 10px 10px;
}
.poster{
	width: 150px; 
	height: 240px; 
	text-align: center;
}
.padding{
	padding: 10px 10px 10px 10px;
}
.margin{
	margin: 10px 10px 10px 10px;
}
.row-margin {
	margin-top:10px;
	margin-bottom: 20px;
}
